<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>contributes</h2>
    <div class="intro">
    </div><!--//intro-->
    <div class="item">
        <span class="project-title"><a href="#">django</a></span><br>
        <span class="project-title"><a href="https://github.com/pennersr/django-allauth/blob/master/AUTHORS#L80">django-allauth</a></span> 
        <span><a href="https://github.com/pennersr/django-allauth/pulls?q=is%3Apr+author%3A%40me+is%3Aclosed">click</a></span><br>
        <span class="project-title"><a href="#">django-rest-framework-docs</a></span><br>
        <span class="project-title"><a href="#">materialize</a></span><br>

    </div><!--//item-->
</section><!--//section-->
