<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>contributes</h2>
    <div class="intro">
    </div><!--//intro-->
    <div class="item">
        <span class="project-title"><a href="https://code.djangoproject.com/query?status=assigned&status=closed&status=new&reporter=xncbf&col=id&col=summary&col=status&col=reporter&col=owner&col=type&order=priority">django</a></span><br>
        <span class="project-title"><a href="https://github.com/pennersr/django-allauth/pulls?q=is%3Apr+author%3Axncbf">django-allauth</a></span><br>
        <span class="project-title"><a href="https://github.com/manosim/django-rest-framework-docs/pulls?q=is%3Apr+author%3Axncbf">django-rest-framework-docs</a></span><br>
        <span class="project-title"><a href="https://github.com/Dogfalo/materialize/pulls?q=is%3Apr+author%3Axncbf+is%3Aclosed+">materialize</a></span><br>

        

    </div><!--//item-->
</section><!--//section-->
