<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>contributes</h2>
    <div class="intro">
        <p>오픈소스 기여</p>
    </div><!--//intro-->
    <div class="item">
        <span class="project-title"><a href="#">django</a></span><br>
        <span class="project-title"><a href="#">django-allauth</a></span><br>
        <span class="project-title"><a href="#">django-rest-framework-docs</a></span><br>
        <span class="project-title"><a href="#">materialize</a></span><br>

    </div><!--//item-->
</section><!--//section-->
