<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Backend Web Developer</h3>
                <div class="time">2017 - Present</div>
            </div><!--//upper-row-->
            <div class="company">프리디그룹엘티디, 삼성전자 R&D 캠퍼스</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Django 기반 챗봇 Backend REST API, Marketplace Backend REST API 개발 및 유지보수<br>
                AWS 인프라 beanstalk -> ecs -> kubernetes 순서로 레거시 아키텍처 재설계
                중국서버 운영을 위해 aws 에서 alicloud 로 변경
            </p>
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Full Stack Web Developer</h3>
                <div class="time">2016 - 2017</div>
            </div><!--//upper-row-->
            <div class="company">오마이트립, 서울</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Django 프레임 워크, nginx 서버 및 jQuery, bootstrap을 사용하여 자사의 사이트 개발 및 유지보수
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Database Tuner</h3>
                <div class="time">2015 - 2016</div>
            </div><!--//upper-row-->
            <div class="company">아시아나 아이디티, 서울</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                프루덴셜 생명 파견근무, Oracle 기반 2억건 이상의 대용량 데이터베이스 조회 쿼리 작성 업무
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Full Stack Web Developer</h3>
                <div class="time">2014 - 2015</div>
            </div><!--//upper-row-->
            <div class="company">저스트고, 서울</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                ASP.NET 프레임 워크, Windows 서버 및 jQuery, bootstrap을 사용하여 자사의 사이트 개발 및 유지보수
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Junior Web Developer</h3>
                <div class="time">2010 - [군복무] - 2014</div>
            </div><!--//upper-row-->
            <div class="company">지오천사 로봇기술 연구소, 경기도</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                php, centOS 서버를 이용하여 자사의 사이트 개발 및 유지보수
            </p>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->
