<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Senior Backend Developer</h3>
                <div class="time">2017.06 - Present</div>
            </div><!--//upper-row-->
            <div class="company">트래블플랜, 삼성전자 C랩 아웃사이드</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                - 챗봇(페이스북, 위챗, 삼성RCS, 커스텀 위젯) 백엔드 모델링, API 서버 개발, 웹소켓 서버 개발<br>
                - 마켓플레이스 백엔드 모델링, API 서버 개발<br>
                - 챗봇커머스 백엔드 모델링, API 서버 개발<br>
                - 챗봇 스마트오더 개발 리드. API, POS 화면, 백오피스, 배포 파이프라인, 시스템 에러 핸들러 개발<br>
                사용 스택: Django, DRF, celery, AWS, docker, k8s, serverless(lambda), socket, redis, postgresql
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Full Stack Web Developer</h3>
                <div class="time">2016.07 - 2017.06</div>
            </div><!--//upper-row-->
            <div class="company">오마이트립, 서울</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Django 프레임 워크, nginx 서버 및 jQuery, bootstrap을 사용하여 자사의 사이트 개발 및 유지보수<br>
                사용 스택: Django, DRF, celery, AWS, ec2, redis, mysql
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Query writer</h3>
                <div class="time">2015.12 - 2016.05</div>
            </div><!--//upper-row-->
            <div class="company">아시아나 아이디티, 서울</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Oracle 데이터베이스 조회 쿼리 작성 업무<br>
                사용 스택: Oracle dbms
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Full Stack Web Developer</h3>
                <div class="time">2014.12 - 2015.11</div>
            </div><!--//upper-row-->
            <div class="company">저스트고, 서울</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                여행사 자사 웹사이트 백오피스 개발 및 운영<br>
                사용 스택: ASP.NET, javascript, mssql
            </p>
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Embedded engineer</h3>
                <div class="time">2013.04 - 2014.11</div>
            </div><!--//upper-row-->
            <div class="company">지오천사로봇기술, 경기</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                임베디드 소프트웨어 개발, PCB 회로설계<br>
                사용 언어: C++
            </p>
        </div><!--//details-->
    </div><!--//item-->


    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Embedded engineer</h3>
                <div class="time">2010.04 - 2011.04</div>
            </div><!--//upper-row-->
            <div class="company">지오천사로봇기술, 경기</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                임베디드 소프트웨어 개발, PCB 회로설계<br>
                사용 언어: C++
            </p>
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->
