<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Junior Web Developer</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Ohmytrip, Seoul</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>작성요망</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Junior Web Developer</h3>
                            <div class="time">2015 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Asiana IDT, Seoul</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>작성요망</p>
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Junior Web Developer</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Justgo, Seoul</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>작성요망</p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->