<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro">
        <p>회사 및 개인 프로젝트</p>
    </div><!--//intro-->
    <div class="item">
        <span class="project-title"><a href="http://shinhancard.ohmyhotel.com/">오마이 호텔 고객사 사이트</a>
            </span> - <span class="project-tagline">Django와 nginx 서버를 사용한 호텔 판매 사이트</span><br>
        <span class="project-title"><a href="http://autho.me/">개인프로젝트</a>
            </span> - <span class="project-tagline">Django와 DjangoRestFramework를 사용한 매크로 사용자 관리 사이트 (제작중)
            <a href="https://github.com/xncbf/authome">[소스]</a></span><br>
        <span class="project-title"><a href="http://xn--2q1bu6oj8h4vab2o.com/">개인프로젝트</a>
            </span> - <span class="project-tagline">Django와 nginx 서버, scrapy를 사용한 블로그 사이트
            <a href="https://github.com/xncbf/aquam">[소스]</a></span><br>
        <span class="project-title"><a href="http://www.hotelpass.com/">Hotelpass.com</a>
            </span> - <span class="project-tagline">ASP.NET와 windows 서버를 사용한 호텔 판매 사이트의 관리자 페이지</span>

    </div><!--//item-->
</section><!--//section-->