<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>진행한 회사 및 개인 프로젝트</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Hotelpass.com back office</a></span> - <span class="project-tagline">작성요망</span>
                    
                </div><!--//item-->
            </section><!--//section-->