<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
    <div class="intro">
        <p>개인 프로젝트</p>
    </div><!--//intro-->
    <div class="item">
        <span class="project-title"><a href="https://autho.me/">어썸</a>
            <a href="https://github.com/xncbf/authome">[소스]</a> [2017]
        </span><br>
        <span class="project-tagline">
            Django와 DjangoRestFramework를 사용한 매크로 사용자 관리 사이트
        </span><br><br>
        <span class="project-title">상업용 블로그</a>
            <a href="https://github.com/xncbf/aquam">[소스]</a> [2016]
        </span><br>
        <span class="project-tagline">
            Django와 nginx 서버, scrapy를 사용한 블로그 사이트
            <br>scrapy를 이용해서 네이버 블로그의 글을 매일 긁어온다.
        </span><br>

    </div><!--//item-->
</section><!--//section-->
