<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills</h2>
                <div class="skillset">  
                    <div class="item">
                        <h3 class="level-title">Languages</h3>
                    </div><!--//item-->   
                  
                    <div class="item">
                        <span>Python</span>                          
                    </div><!--//item-->
                  
                    <div class="item">
                        <h3 class="level-title">Back-end</h3>
                    </div><!--//item-->   
                  
                    <div class="item">
                        <span>Django Django-rest-framework Django-allauth Celery Redis</span>                          
                    </div><!--//item-->
                  
                  
                    <div class="item">
                        <h3 class="level-title">Front-end</h3>
                    </div><!--//item-->  
                  
                    <div class="item">
                        <span>HTML CSS Javascript jQuery Bootstrap Materializecss Svelte Sapper npm yarn</span>
                    </div><!--//item-->
                  
                    <div class="item">
                        <h3 class="level-title">Database</h3>
                    </div><!--//item-->
                  
                    <div class="item">
                        <span>Postgresql</span>
                    </div><!--//item-->
                  
                    <div class="item">
                        <h3 class="level-title">Server</h3>
                    </div><!--//item-->   
                  
                    <div class="item">
                        <span>AWS serverless docker k8s</span>
                    </div><!--//item-->
                  
                    <div class="item">
                        <h3 class="level-title">IDE</h3>
                    </div><!--//item-->   
                  
                    <div class="item">
                        <span>vscode pycharm</span>
                    </div><!--//item-->
                  
                    <div class="item">
                        <h3 class="level-title">Version Control</h3>
                    </div><!--//item-->   
                  
                    <div class="item">
                        <span>git</span>
                    </div><!--//item-->
                    
                </div>  
            </section><!--//skills-section-->
