<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills</h2>
                <div class="skillset">  
                    <div class="item">
                        <h3 class="level-title">Back-end</h3>
                    </div><!--//item-->   
                  
                    <div class="item">
                        <span>Python Django Django-rest-framework Django-allauth Celery Redis</span>                          
                    </div><!--//item-->
                  
                  
                    <div class="item">
                        <h3 class="level-title">Front-end</h3>
                    </div><!--//item-->  
                  
                    <div class="item">
                        <span>HTML CSS Javascript jQuery Bootstrap Materializecss svelte sapper npm</span>
                    </div><!--//item-->
                  
                    <div class="item">
                        <h3 class="level-title">Database</h3>
                    </div><!--//item-->
                  
                    <div class="item">
                        <span>Query-Tuning Postgresql Mssql Mysql</span>
                    </div><!--//item-->
                  
                    <div class="item">
                        <h3 class="level-title">Server</h3>
                    </div><!--//item-->   
                  
                    <div class="item">
                        <span>Nginx uwsgi gunicorn docker aws serverless</span>
                    </div><!--//item-->
                  
                    <div class="item">
                        <h3 class="level-title">IDE</h3>
                    </div><!--//item-->   
                  
                    <div class="item">
                        <span>vscode pycharm</span>
                    </div><!--//item-->
                  
                    <div class="item">
                        <h3 class="level-title">Version Control</h3>
                    </div><!--//item-->   
                  
                    <div class="item">
                        <span>git</span>
                    </div><!--//item-->
                    
                </div>  
            </section><!--//skills-section-->
